:root {
	/* The main accent color and the matching text value */
	--adw-accent-bg-rgb: 108, 76, 160 !important;
	--adw-accent-fg-rgb: 20, 16, 28 !important;
	--adw-accent-rgb: 108, 76, 160 !important;

	/* destructive-action buttons */
	--adw-destructive-bg-rgb: 180, 92, 216 !important;
	--adw-destructive-fg-rgb: 184, 163, 224 !important;
	--adw-destructive-rgb: 180, 92, 216 !important;

	/* Levelbars, entries, labels and infobars. These don't need text colors */
	--adw-success-bg-rgb: 124, 108, 160 !important;
	--adw-success-fg-rgb: 20, 16, 28 !important;
	--adw-success-rgb: 124, 108, 160 !important;

	--adw-warning-bg-rgb: 199, 125, 240 !important;
	--adw-warning-fg-rgb: 20, 16, 28 !important;
	--adw-warning-fg-a: 0.8 !important;
	--adw-warning-rgb: 199, 125, 240 !important;

	--adw-error-bg-rgb: 180, 92, 216 !important;
	--adw-error-fg-rgb: 20, 16, 28 !important;
	--adw-error-rgb: 180, 92, 216 !important;

	/* Window */
	--adw-window-bg-rgb: 20, 16, 28 !important;
	--adw-window-fg-rgb: 184, 163, 224 !important;

	/* Views - e.g. text view or tree view */
	--adw-view-bg-rgb: 20, 16, 28 !important;
	--adw-view-fg-rgb: 184, 163, 224 !important;

	/* Header bar, search bar, tab bar */
	--adw-headerbar-bg-rgb: 20, 16, 28 !important;
	--adw-headerbar-fg-rgb: 184, 163, 224 !important;
	--adw-headerbar-border-rgb: 50, 40, 71 !important;
	--adw-headerbar-backdrop-rgb: 20, 16, 28 !important;
	--adw-headerbar-shade-rgb: 0, 0, 0 !important;
	--adw-headerbar-shade-a: 0.36 !important;
	--adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
	--adw-headerbar-darker-shade-a: 0.9 !important;

	/* Split pane views */
	--adw-sidebar-bg-rgb: 20, 16, 28 !important;
	--adw-sidebar-fg-rgb: 184, 163, 224 !important;
	--adw-sidebar-backdrop-rgb: 34, 26, 48 !important;
	--adw-sidebar-shade-rgb: 0, 0, 0 !important;
	--adw-sidebar-shade-a: 0.36 !important;
	--adw-secondary-sidebar-bg-rgb: 20, 16, 28 !important;
	--adw-secondary-sidebar-fg-rgb: 184, 163, 224 !important;
	--adw-secondary-sidebar-backdrop-rgb: 34, 26, 48 !important;
	--adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
	--adw-secondary-sidebar-shade-a: 0.36 !important;

	/* Cards, boxed lists */
	--adw-card-bg-rgb: 20, 16, 28 !important;
	--adw-card-bg-a: 0.08 !important;
	--adw-card-fg-rgb: 184, 163, 224 !important;
	--adw-card-shade-rgb: 0, 0, 0 !important;
	--adw-card-shade-a: 0.36 !important;

	/* Dialogs */
	--adw-dialog-bg-rgb: 20, 16, 28 !important;
	--adw-dialog-fg-rgb: 184, 163, 224 !important;

	/* Popovers */
	--adw-popover-bg-rgb: 20, 16, 28 !important;
	--adw-popover-fg-rgb: 184, 163, 224 !important;
	--adw-popover-shade-rgb: 0, 0, 0 !important;
	--adw-popover-shade-a: 0.36 !important;

	/* Thumbnails */
	--adw-thumbnail-bg-rgb: 20, 16, 28 !important;

	/* Miscellaneous */
	--adw-shade-rgb: 0, 0, 0 !important;
	--adw-shade-a: 0.36 !important;
}
