/**
 * @name REDDCS
 * @author @bypass_
 * @version 0.1.0
 * @description Match Omarchy system theme.
 * @source https://github.com/imbypass/base16-Discord
 **/
@import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

:root {
	--color00: #14101c;
	--color01: #221a30;
	--color02: #322847;
	--color03: #45395f;
	--color04: #5a4b78;
	--color05: #7565a0;
	--color06: #9080bf;
	--color07: #b8a3e0;
	--color08: #b45cd8;
	--color09: #9a4fd0;
	--color10: #c77df0;
	--color11: #7c6ca0;
	--color12: #6a6580;
	--color13: #6c4ca0;
	--color14: #9a4fd0;
	--color15: #7a3f9c;
}
